@import url(//fonts.googleapis.com/css?family=Vibur);
@import url('https://fonts.cdnfonts.com/css/modern-typewriter');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/fonts/monoton.woff');
@import url('/fonts/display.ttf');

 @layer base{
  [data-theme='light'] {
    /* Styles for the light theme */
    background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
    color: #000;
    min-height: 100vh;
    min-width: 100%;
  }
  
  [data-theme='dark'] {
    /* Styles for the dark theme */
    background-image: url('https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    color: #fff;
    min-height: 100vh;
    min-width: 100%;
  }
header {
@apply flex flex-col w-full h-1/6 fixed md:flex-row   
}

main {
 @apply  justify-center z-0 items-center flex flex-col w-full md:justify-center md:items-center  md:pl-[17%] md:pt-0 lg:items-start font-typewriter
}

h1{
  @apply font-bold  text-4xl text-primary
}

h2{
  @apply text-2xl
}

}

@layer components{
  .nav{
    @apply invisible h-0 md:flex-col md:visible md:w-1/6 md:mt-32  md:h-screen md:justify-center md:fixed font-logo
  }
  
  .navMob{
    @apply visible w-full m-3 md:visible md:w-0 
  }
  .indicator-c{
    @apply absolute translate-x-7 -translate-y-5 font-extrabold  pr-1 rounded text-xxs
  }
  .svg-sm{
    @apply w-8 mx-5 active:w-10
 }

 .list{
  @apply flex flex-wrap md:flex-col md:fixed  bg-transparent
 }

 .btn-list{
  @apply btn bg-gradient-to-r from-primary via-accent to-secondary btn-outline btn-sm m-2
 }

 .text-ellipsis{
 @apply whitespace-nowrap overflow-hidden overflow-ellipsis h-1/3
 }
 .btn-post {
  @apply btn btn-sm lg:w-[8rem] lg:h-[2.5rem] shadow-custom m-2 text-sm shadow-accent backdrop-blur-sm hover:shadow-custom-hover bg-transparent;
}

.btn_icons {
  @apply btn btn-circle shadow-custom hover:shadow-custom-hover ml-4
}

  .container{
    @apply h-screen overflow-auto flex flex-col items-center justify-center 
  }

  .logo {
    @apply  text-4xl text-secondary font-logo ml-[3rem] mt-[2rem]
  }
  
}